body {
	font-family: Sans-Serif;		
}

#textInput, .result {
	margin: 0;
	padding: 0;
	border: 1px solid gray;
	width: 100%;
	height: 300px;
	overflow-y: scroll;	
	overflow-x: hidden;
}

#textInput {
	background: white;	
}

.result {
	background: lightyellow;	
}

.result ul {
	padding: 10px;
	margin: 0px;
}

a:hover {
	color: red;	
	background: ghostwhite;
}

.footer { 
	text-align: right 
}