body 
{
	font-family: Sans-Serif;		
}
#textInput {
	border: 1px solid gray;
			background: white;
			width: 100%;
			height: 300px;
			overflow-y: scroll;
			overflow-x: hidden;
		}
		.result {
			border: 1px solid gray;
			background: lightyellow;
			width: 100%;
			height: 300px;
			overflow-y: scroll;
			overflow-x: hidden;
		}
		.result ul {
			padding: 10px;
			margin: 0px;
		}
		a:hover {
			color: red;		
		}
		li:hover {
			color: red;	
			background: ghostwhite;
		}
		.footer { text-align: right }